.main-assign {
  position: absolute;
  z-index: 4;
  margin-left: 30%;
  width: 60%;
  height: max-content;
  background-color: var(--white);
  border-radius: 9px;
  box-shadow: -1px 1px 17px var(--green);
}
.main-assign h2 {
  margin-top: 4px;
  margin-left: 1rem;
}
.line {
  height: 4px;
  width: 210px;
  background-color: black;
  float: left;
  margin-top: 1em;
  margin-left: 2rem;
}
.card .row-card {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;

  /* margin-left: -15px; */
  flex-direction: row-reverse;
  justify-content: space-evenly;
  float: left;
  margin-top: 30px;
  width: 100%;

  margin-left: -15px;

}
.form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row-card2 {
  display: flex;
}
.row-card2 label {
  width: 40%;
}
.col-sm-10 {
  position: relative;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}
input:focus {
  box-shadow: -1px -1px 1px lightgrey, 1px 1px 1px lightgrey;
}
input:hover {
  box-shadow: 1px 1px 1px lightgray;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  margin-right: 4px;
}
.col-md-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group.row-card2 input[type="checkbox"] {
  height: 0.8rem;

  width: 0.8rem;

  background: var(--green);
}
@media screen and (max-width: 600px) {
}
