@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Josefin+Sans:wght@400;700&family=Lato&family=Lobster&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  min-height: 100vh;
  background-color: rgb(225, 225, 225);
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px rgb(164, 164, 164);
  height: 70px;
  margin-bottom: 3px;
}
.rightNavBar {
  display: flex;
}
.circleWord {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(166deg 100% 16% / 66%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding-top: 2.5px;
  padding-left: 1.5px;
  margin: auto;
}
#noun {
  margin: auto;
  margin-left: 5px;
}
#downArrow {
  color: #00372a;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
}

#menuBars {
  display: none;
  margin: auto;
  margin-left: 20px;
}

#busIcon {
  width: 70px;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

.sideBar {
  display: none;
}

.mainContent {
  width: 80%;
}

.rightBar {
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  position: absolute;
  right: 5px;
  top: 73px;
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: fit-content;
  display: block;
  margin: auto;
  cursor: pointer;
}
.icons {
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.icons p {
  margin-left: 10px;
}
.icons:hover p {
  background-color: hsl(166deg 100% 16% / 66%);
  color: aliceblue;
  padding: 0 5px;
  max-width: 40vmin;
  width: 1fr;
}

.icons:hover .icons-sub {
  background-color: hsl(166deg 100% 16% / 66%);
  color: aliceblue;
  padding: 0 5px;
  max-width: 40vmin;
  width: 1fr;
}

.icons-sub {
  font-size: 20px;
  color: hsl(166deg 100% 16% / 66%);
}

#logout {
  padding: 0 5px;
  background-color: #000000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#logout:hover {
  background: hsl(0, 0%, 42%);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: hsl(166deg 100% 16% / 66%);
  padding: 5px;
}

.footer p {
  font-size: small;
  color: aliceblue;
  text-align: center;
}

@media (max-width: 850px) {
  .navbar {
    margin-bottom: 0px;
  }
  #menuBars {
    display: block;
    margin-top: 25px;
  }
  #busIcon {
    display: none;
  }

  #downArrow {
    margin-right: 20px;
    margin-left: 10px;
  }

  .sideBar {
    position: absolute;
    display: inline-block;
    margin-top: 4px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    width: 70%;
    max-width: 400px;
    min-height: 90vh;
  }
  .sideBar nav a,
  .sideBar nav button {
    color: #312d2d;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    border-bottom: 0.1px solid lightgrey;
    width: 100%;
    background: none;
    outline: none;
    cursor: pointer;
  }
  .sideBar nav a span,
  .sideBar nav button span {
    margin-left: 10px;
  }
  .sideBar nav .subMenu1 {
    margin-left: 20px;
  }

  .sideBar nav button span .icon-dropDown {
    float: right;
    margin: 3px 0px 3px 10px;
  }

  .sideBar nav a:hover,
  .sideBar nav button:hover {
    background-color: var(--theme-green);
    color: var(--theme-sideBar-white);
  }

  .sideBar nav a.active {
    color: var(--theme-green);
  }

  .sideBar nav a.active:hover {
    color: var(--theme-sideBar-white);
  }

  .mobileMainContent {
    min-height: 86vh;
  }
}
