/* Header Css that  */

.intro_header {
  background: url("../../assets//images/background.svg");
  background-size: 94%;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 70px;
}

.intro_header .header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  height: inherit;
  grid-column-gap: 2px;
}

.header-content .content {
  align-items: center;
  justify-items: center;
  margin: auto;
  display: inline-block;
  width: 50%;
}

.content h4 {
  font-weight: 600;
}

.content .ft-tracking {
  margin-top: 10px;
}
.header-content .bus-image {
  align-items: center;
  display: flex;
  padding-left: 4rem;
}

/* SKeleton UI Design */
.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 15px;
  background-color: var(--light-gray);
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  place-items: center;
  margin-left: 5rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--green);
  padding: 0.5rem;
}

/* SKeleton UI Design */
.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 15px;
  background-color: var(--light-gray);
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  place-items: center;
  margin-left: 5rem;
}

.content .ft-header-btn {
  margin-top: 30px;
}

.header-content .bus-image {
  margin: auto;
}

@media only screen and (max-width: 620px) {
  .intro_header {
    background: url("../../assets//images/background.svg");
    background-position: inherit;
    background-size: cover;
    height: max-content;
    width: 100%;
    margin-top: 7rem;
    background-repeat: repeat-x;
  }
  .intro_header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    height: inherit;
    grid-column-gap: 2px;
  }
  .header-content .content {
    align-items: center;
    margin: auto;
    display: block;
    width: 70%;
    margin-bottom: 5px;
  }
  .content .ft-header-btn {
    margin-top: 10px;
  }
  .header-content .bus-image {
    align-items: center;
    display: flex;
    padding-left: 4rem;
  }
}

/* SKeleton UI Design */

.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 15px;
  background-color: var(--light-gray);
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  place-items: center;
  margin-left: 5rem;
}

.skeleton-ui-text {
  display: block;
  background-color: antiquewhite;
}

.skeleton-userheader {
  display: flex;
  margin-top: 70px;
}

.skeleton-descr {
  width: 50%;
}

@media only screen and (max-width: 620px) {
  .skeleton-userheader {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
}
