.modal {
  width: 45rem;
}

h4 {
  border-bottom: 1px solid #c5c2c2;
  margin-bottom: 1rem;
}

.permissions {
  margin-left: 2rem;
}

.permissions li {
  list-style-type: none;
}

.permissions li input {
  margin-right: 10px;
  margin-left: 0;
}

.permissions li input:checked {
  box-shadow: inset 0 0 0 20px var(--theme-green);
}
.options {
  width: 13%;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 85%;
  z-index: 50;
}

.ellipsis-icon {
  position: absolute;
  left: 95%;
}

.ellipsis-icon:hover,
.ellipsis-icon:active {
  color: red;
}
