/* button style css */
.btn {
  padding: 0.5rem;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}
.btn-green {
  background-color: var(--green);
  color: var(--white);
  font-weight: 800;
}
.btn-danger {
  background-color: red;
  color: var(--white);
  font-weight: 800;
}
.btn-danger:hover {
 background-color: var(--white);
  border: 1px solid lightgray;
  color: red;
  font-weight: 800;
}
.btn-green:hover {
  font-weight: 800;
  color: var(--green);
  background-color: var(--white);
  border: 1px solid lightgray;
}
.btn-radius {
  border-radius: 20px;
}
@media only screen and (max-width: 620px) {
}
