/* Register a driver css */

.content-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  min-width: 400px;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  z-index: 10;
}


.btn-driver {
  margin-top: 20px;
  color: #ffffff;
  border-radius: 15px;
  background-color: rgba(23, 121, 98, 0.64);
  padding: 7px 60px;
  border-style: none;
  cursor: pointer;
}
.content-table thead tr {
  background-color: rgba(23, 121, 98, 0.64);
  color: #ffffff;
  text-align: left;
  line-height: 5px;
  font-weight: 600;
}

.content-table th,
.content-table td {
  padding: 12px 40px;
}

.content-table tbody tr:hover {
  background-color: #f3f3f3;
}

.td-action span {
  padding: 10px;
}
.table-no {
  color: #000000;
  font-weight: 400;
  padding-left: 15px;
}
.td-action .fa-pencil {
  color: #1e1e1e;
  cursor: pointer;
}
.td-action .fa-trash {
  color: #e31b6d;
  cursor: pointer;
}

.table-nav {
  margin-left: 10em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.table-nav span:hover {
  border-radius: 100%;
  color: #ffffff;
  background-color: rgba(23, 121, 98, 0.4);
}

.table-nav .tab-active {
  border-radius: 100%;
  color: #ffffff;
  background-color: rgba(23, 121, 98, 0.64);
}

.table-nav span {
  color: #000000;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 13px;
  margin-left: 20px;
}

/* Popup - add new driver */

.bg-popup, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;

}
.overlay {
  /* background:rgba(54, 68, 64, 0.274); */
}
.active-popup {
  overflow-y: hidden;
}
.add_new_popup {
  margin-top: 12em;
  margin-left: 38em;
  margin-right: 20em;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 200px;
  max-width: 100%;
  border-radius: 20px;
  /* overflow: hidden; */
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  /* z-index: 5; */
}

.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.create-title {
  text-align: center;
  padding: 25px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(73, 73, 73, 0.72);
}
.input-email,
.select-driver {
  margin-left: 3.5em;
  width: 80%;
  padding: 10px;
  border-radius: 12px;
  outline: none;
  border: 1px solid lightgray;
}
.input-email,
.envelope-icon {
  display: inline-flex;
  vertical-align: middle;
}
.envelope-icon {
  padding: 5px 9.8px;
  margin-left: -49px;
  color: #807d7d;
  font-size: 28px;
  background: #d1cdcd;
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
}
.select-driver {
  margin-top: 2em;
}
.btn-save {
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  background-color: rgba(23, 121, 98, 0.64);
  padding: 8px 45px;
  margin-top: 3em;
  margin-left: 16em;
  font-weight: 500;
  cursor: pointer;
}
.btn-save:hover {
  background-color: rgba(23, 121, 98, 0.7);
}

.input-email:hover,
.select-driver {
  box-shadow: 1px 1px 1px lightgrey;
}

.admin-footer {
  text-align: center;
  margin-top: 14em;
  margin-left: 16em;
}
