/* Home Content style */
.home-content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;

  padding-bottom: 5rem;
  padding-top: 2rem;
  overflow: hidden;
  padding-bottom: 5rem;
  padding-top: 2rem;
  overflow: hidden;
}
.home-content .row {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
}
.home-content .row .col-3 {
  padding: 2rem 3rem;
  background-color: var(--white);
  display: flex;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 10px -1px 29px var(--green);
  border-radius: 16px;
  align-items: center;
}
.home-content .row .col-3:hover {
  padding: 2rem 3rem;
  background-color: var(--green);
  display: flex;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 10px -1px 29px var(--white);
  border-radius: 16px;
  color: var(--white);
}
.home-content .row .col-3:hover > .icons {
  color: var(--white);
}
.home-content .row .col-3:hover > .home-circle {
  background-color: var(--white);
}
.home-content .row .col-3:hover > .home-circle span {
  color: var(--green);
  flex-direction: column;
  cursor: pointer;
  box-shadow: 10px -1px 29px var(--green);
  border-radius: 16px;
}

.home-content .row .col-3:hover {
  padding: 2rem 3rem;
  background-color: var(--green);
  display: flex;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 10px -1px 29px var(--white);
  border-radius: 16px;
  color: var(--white);
}
.home-content .row .col-3:hover > .icons {
  color: var(--white);
}
.home-content .row .col-3:hover > .home-circle {
  background-color: var(--white);
}
.home-content .row .col-3:hover > .home-circle span {
  color: var(--green);
}

.icons {
  color: var(--green);
  height: 60px;
  width: 60px;
}
.home-circle {
  height: 90px;
  width: 90px;
  background-color: var(--green);
  color: var(--black);
  border-radius: 50%;
  text-align: center;
  margin: auto;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.home-circle span {
  align-content: center;
  color: var(--white);
}
.col-3 p {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 620px) {
  .home-content {
    padding-bottom: 1px;
  }
  .home-content .row {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    grid-column-gap: 4rem;
    padding-bottom: 1px;
  }
  .home-content .row .col-3 {
    margin-bottom: 2rem;
  }
  .home-content h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
.home-skeleton {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 400px;
}
.home-skeleton-content {
  position: absolute;
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  left: 0;
  place-items: center;
  right: 0;
}
.row {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 620px) {
  .home-skeleton {
    height: 985px;
  }
  .row {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}
