.main-add {
  position: absolute;
  top: 10rem;
  z-index: 4;
  margin-left: 17%;
  width: 60%;
  background-color: var(--white);
  border-radius: 9px;
  box-shadow: -1px 1px 17px var(--green);
}

.close-icon {
  position: absolute;
  right: 0;
  margin: 9px 9px 0 0;
  cursor: pointer;
  color: var(--green);
}
.close-icon:hover {
  color: red;
}
.error {
  color: red;
}

/* A popup */
.card {
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 2em;
}
.create-title {
  text-align: center;
  padding: 25px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(73, 73, 73, 0.72);
}

.select-driver {
  margin-left: 3.5em;
  width: 80%;
  padding: 10px;
  border-radius: 12px;
  outline: none;
  border: 1px solid lightgray;
}

.select-driver {
  margin-top: 1em;
}
.btn-save {
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  background-color: rgba(23, 121, 98, 0.64);
  padding: 8px 45px;
  margin: 2rem 0 0 10rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-save:hover {
  background-color: rgba(23, 121, 98, 0.7);
}
.btn-update {
  margin-top: 2em;
  margin-left: 17em;
  border-radius: 5px;
  padding: 7px 20px;
}

.input-email:hover,
.select-driver {
  box-shadow: 1px 1px 1px lightgrey;
}

@media only screen and (max-width: 768px) {
  .main-add {
    width: 80%;
    margin-left: 8%;
  }
  .select-driver {
    margin-left: 1.5em;
  }

  .btn-save {
    margin-left: 3.5rem;
  }
}
