.modal {
  width: 45rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c5c2c2;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

h4 {
  display: inline-block;
  margin-right: 1rem;
}

.add-btn {
  color: var(--theme-green);
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: inline;
  border: 1px solid lightgray;
}

.btn {
  background-color: #f01e1e;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.btn:hover,
.btn:active {
  background-color: #c02929;
  color: #fff;
}

.permissions {
  margin-left: 2rem;
}

.permissions li {
  list-style-type: none;
}

.permissions li input {
  margin-right: 10px;
  margin-left: 0;
}

.permissions li input:checked {
  box-shadow: inset 0 0 0 20px var(--theme-green);
}
.options {
  width: 13%;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 85%;
  z-index: 50;
}

.ellipsis-icon {
  position: absolute;
  left: 95%;
}

.ellipsis-icon:hover,
.ellipsis-icon:active {
  color: red;
}

@media (max-width: 768px) {
  .modal {
    width: 20rem;
    font-size: 2.5vw;
  }

  .ellipsis-icon {
    left: 93%;
  }
}
