@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Josefin+Sans:wght@400;700&family=Lato&family=Lobster&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  min-height: 100vh;
  background-color: rgb(225, 225, 225);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px rgb(164, 164, 164);
  height: 70px;
}
/* .navbar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar ul li{
  margin-right: 40px;
  list-style: none;
} */
.rightNavBar{
  display: flex;
}
.circleWord{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #31937c;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-align: center; 
  cursor: pointer;
  padding-top: 2.5px;
  padding-left: 1.5px;
  margin: auto;
}
#noun{
  margin: auto;
  margin-left: 5px;
}
#downArrow{
  color: #00372a;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
}

.leftNavBar{
  display: flex;
}

#menuBars{
  display: none;
  margin: auto;
  margin-left: 20px;
}

#busIcon{
  width: 70px;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

.sideBar{
  margin-top: 4px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  width: 20%;
  min-height: 90vh;
}
.sideBar img{ 
  width: 40px;
  height: auto;
  margin: 0px 20px;
}

#dash{
  display: inline-flex;
  margin-bottom: 20px;
}
/* #dash img{
  margin-bottom: 20px;
} */
#dash p{
  margin: auto;
}
#driver{
  display: inline-flex;
}
#driver p{
  color: #31937c;
  border-bottom: 3px solid #31937c;
  margin: auto;
}

.mainContent{
  width: 80%;
}

.pees-1{
  margin-top: 30px;
  display: inline-flex;
  /* font-size: 14px; */
}
.pees-1 p{
  text-align: left;
}

.rightBar{
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  position: absolute;
  right: 5px;
  top: 73px;
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: fit-content;
  display: block;
  margin: auto;
}
.icons{
  
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.icons p{
  margin-left: 10px;
}

.icons-sub{
  font-size: 20px;
  color: #31937c;
}


#anchor{
  padding: 5px;
  background-color: #000000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
}
#anchor a{
  text-decoration: none;
  list-style: none;
}

@media(max-width: 700px){
  #menuBars{
    display:block;
  }

  #busIcon{
    display: none;
  }

  .sideBar{
    margin-top: 4px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    min-height: 90vh;
  }
}