.main{
display: flex; 
position: absolute; 
flex-direction: column; 
}

.route-form{
position: fixed; 
z-index: 20; 
justify-content: center; 
background-color: #6B7280; 
}

.base{
display: flex; 
padding: 1rem; 
background-color: #2b2f3b; 
flex-direction: column; 
opacity: 0.75; 
}

.select1{
padding-top: 0.25rem;
padding-bottom: 0.25rem; 
padding-left: 1rem; 
margin-bottom: 0.5rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
width: 2.5rem; 
height: 2.5rem; 
border-radius: 0.75rem; 
border-width: 2px; 
outline: 0; 
}

.opt-input{
background-color: transparent; 
font-weight: 700; 
cursor: pointer; 
}

.opt2-input{
background-color: transparent; 
font-weight: 700; 
cursor: pointer; 
}

.sub-sect{
display: flex; 
margin: 0.5rem; 
justify-content: center; 
}
.btn-sub{
display: flex; 
padding: 1rem; 
margin: 0.5rem; 
background-color: #059669; 
color: #ffffff; 
justify-content: center; 
align-items: center; 
width: 1.5rem; 
height: 1.5rem;
}

.btn-stop{
display: flex; 
padding: 1rem; 
margin: 0.5rem; 
background-color: #DC2626; 
color: #ffffff; 
justify-content: center; 
align-items: center; 
width: 1.5rem; 
height: 1.5rem;
}

.block{
display: flex; 
margin: 0.5rem; 
justify-content: center;
}
.layer{
display: flex; 
padding: 1rem; 
margin: 0.5rem; 
background-color: #000000; 
color: #ffffff; 
justify-content: center; 
align-items: center; 
width: 1.5rem; 
height: 1.5rem;
}

.passenger{
display: flex; 
padding: 1rem; 
background-color: #000000; 
color: #ffffff; 
justify-content: center; 
align-items: center; 
width: 1.5rem; 
height: 1.5rem; 
}

.map-box{
z-index: 10; 
margin-left: 0.5rem; 
text-align: center; 
margin-top: -10px;
}

.map{
height: 88vh;
width: 100vw;
}



/* Start here */
.section{
max-width: 100%; 
padding-bottom: 10px;
}

.main-head{
display: flex; 
margin: 2.5rem; 
margin-top: 1rem; 
text-align: center; 
flex-direction: column; 
align-items: center; 
}
.title{
color: #5c9085; 
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 700; 
}
.level{
display: grid; 
overflow: hidden; 
position: relative; 
height: auto; 
border-radius: 0.5rem; 
grid-template-columns: repeat(3, minmax(0, 1fr)); 
grid-template-rows: repeat(1, minmax(0, 1fr)); 
gap: 0.375rem; 
box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
background-color: #5c9085;
width: 98%;
}

.prop{
padding: 1.5rem; 
margin-left: 1rem; 
background-color: #f3f4f6; 
border-radius: 0.25rem; 
color:white;
}

.flexer{
display: flex; 
justify-content: center; 
}

.w{
  width: 20rem; 
}
.ww{
  display: block; 
color: #374151; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
}

.field-1{
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 2.25rem;
padding-right: 2.25rem; 
margin-top: 0.25rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
width: 100%; 
border-radius: 0.375rem; 
border-width: 2px; 
border-color: #E5E7EB; 
outline: 0; 
}

.submit{
  display: flex; 
margin: 0.75rem; 
margin-left: 0.75rem; 
margin-left: 0.875rem; 
justify-content: center; 
}
.submit-button{
display: inline-flex; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 1.5rem;
padding-right: 1.5rem; 
background-color: #1D4ED8; 
color: #ffffff; 
align-items: center; 
border-radius: 0.25rem; 
border-width: 1px; 
border-color: #1D4ED8; 
}

.look{
  display: flex; 
justify-content: center; 
gap: 1rem; 
}

.mapView{
text-align: center; 
height: 450px;
}

.ly{
  height: 100vh; 
width: 95vw;
background: transparent;
}


@media (min-width: 640px) { 
  .level{
  grid-template-columns: repeat(1, minmax(0, 1fr));} 
 }
@media (min-width: 768px) { 
  .level{
  grid-template-columns: repeat(3, minmax(0, 1fr)); }
 }
@media (min-width: 1024px) { 
  .level{
  padding-bottom: 0; 
  }
 }














@media (min-width: 768px) { 
  .section{
    width: 83.333333%; 
  }
 }


@media (min-width: 768px) { 
  .base{
    align-items: baseline; 
  }
 }
@media (min-width: 768px) { 
  .select1{
    padding-left: 2rem; 
    width: 14rem;
  } 
 }




