/* .reset-password {
  width: 655px;
  height: 450px;
  background: #fffffc;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 50vh;
  background: rgba(199, 199, 199, 0.43);
  margin-top: 100px;
  margin-bottom: 100px;
}

.reset-pwd-form {
  margin-top: 40px;

}

.pwd-reset-fields {
  width: 500px;
  height: 40px;
  background: #eff2f3;
  border: 2px solid #c5c4c4;
  box-sizing: border-box;
  padding: 5px;
  display: block;
  justify-content: space-between;
}
.input-feedback {
  margin-left: 12%;
}

.rest-pwd {
  position: relative;
  width: 503px;
  height: 40px;
  color: white;
  font-weight: bold;
  border: rgba(199, 199, 199, 0.43) solid;
  background: rgba(23, 121, 98, 0.64);
  border-radius: 5px;

  margin-left: 75px;

  font-weight: 500;
  font-size: 20px;
}

::placeholder {
  margin-left: 2vh;
}
h2 {
  padding-top: 50px;
}

@media (max-width: 850px) {
  .reset-password {
    width: 300px;
    height: 400px;
    background: #fffffc;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 5vh;
    background: rgba(199, 199, 199, 0.43);
    margin-top: 28vh;
  }

  .reset-pwd-form {
    margin-top: 40px;

  }

  .pwd-reset-fields {
    width: 250px;
    height: 40px;
    background: #eff2f3;
    border: 2px solid #c5c4c4;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    justify-content: space-between;
  }

  .rest-pwd {
    position: relative;
    width: 253px;
    height: 40px;
    color: white;
    font-weight: bold;
    border: rgba(199, 199, 199, 0.43) solid;
    background: rgba(23, 121, 98, 0.64);
    border-radius: 5px;

    margin-left: 20px;

    font-weight: 500;
    font-size: 20px;
  }

  ::placeholder {
    margin-left: 2vh;
  }
  h2 {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1180px) {
  .reset-password {
    width: 400px;
    height: 400px;
    background: #fffffc;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 17vh;
    background: rgba(199, 199, 199, 0.43);
    margin-top: 28vh;
  }

  .reset-pwd-form {
    margin-top: 40px;

  }

  .pwd-reset-fields {
    width: 300px;
    height: 40px;
    background: #eff2f3;
    border: 2px solid #c5c4c4;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    justify-content: space-between;
  }

  .rest-pwd {
    position: relative;
    width: 303px;
    height: 40px;
    color: white;
    font-weight: bold;
    border: rgba(199, 199, 199, 0.43) solid;
    background: rgba(23, 121, 98, 0.64);
    border-radius: 5px;
    padding: 2px;
    margin-left: 47px;

    font-weight: 500;
    font-size: 20px;
  }

  ::placeholder {
    margin-left: 2vh;
  }
  h2 {
    padding-top: 50px;
  }
} */

.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.form-reset-pwd {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fff;
  padding-bottom: 60px;
  margin-top: 50px;
  width: 350px;
  height: 430px;
  box-shadow: 3px 3px 10px 10px #777676;
}

.form-reset-pwd > input {
  text-indent: 1ch;
  display: block;
  margin: auto;
  height: 40px;
  width: 90%;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  margin-top: 30px;
}

.form-reset-pwd > :first-child{
  margin-top: 60px;
}

.form-reset-pwd > button {
  display: block;
  margin: auto;
  margin-top: 30px;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 90%;
  height: 40px;
  font-size: large;
  box-shadow: 2px 3px #cfcfcf;
  background-color: var(--green);
  cursor: pointer;
}
.input-feedback {
  font-size: smaller;
  color: red;
}
.form-reset-pwd > button:hover {
  background-color: rgba(22, 100, 83, 0.64) !important;
}

.form > button:active {
  box-shadow: 2px 3px 2px 3px rgb(72, 72, 72);
  font-size: larger;
}

.icon {
  display: block;
  margin: auto;
}

#userIcon {
  display: block;
  margin: auto;
  color: rgba(17, 103, 83, 0.64);
  width: 50px;
  height: auto;
  margin: auto;
  margin-bottom: 30px;
}

#eyeTwo {
  color: #373737;
  margin-top: 12px;
  margin-left: 220px;
  position: absolute;
}

#eyeOne {
  color: #373737;
  margin-top: 12px;
  margin-left: 220px;
  position: absolute;
}

.checkbox {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.checkbox input {
  padding: 0;
  width: 30px;
  font-size: small;
  size: 40px;
  cursor: pointer;
}

.checkbox label {
  font-size: smaller;
  margin-left: 0px;
  margin-bottom: 50px;
}

.forgot-password a {
  font-size: small;
  color: #292929;
}

.forgot-password a:hover {
  color: blue;
}

#reset {
  position: absolute;
  margin-left: 45px;
  margin-top: 80px;
  margin-bottom: 30px;
  right: 50px;
  color: rgb(72, 72, 72);
  bottom: 0;
}
#reset:hover {
  color: blue;
}

.skeleton-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.login-skeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 430px;
}
.skeleton-inputs:first-child {
  border-radius: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.skeleton-inputs {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 430px;
}
.skeleton-inputs > * {
  display: block;
  height: 40px;
  width: 90%;
  border-radius: 5px;
  background-color: rgb(202, 202, 202);
  margin-top: 30px;
}

@media (max-width: 700px) {
  .form-reset-pwd {
    width: 300px;
    min-width: 200px;
    height: 400px;
    padding: 1rem;
  }
}
