.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}
.reset-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fff;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 350px;
  height: fit-content;
  box-shadow: 3px 3px 10px 10px #777676;
}
.reset-form > input {
  text-indent: 1ch;
  display: block;
  margin: auto;
  height: 40px;
  width: 90%;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
}
.reset-form > button {
  display: block;
  margin: auto;
  margin-top: 5px;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 90%;
  height: 40px;
  font-size: large;
  box-shadow: 2px 3px #CFCFCF;
  background-color: var(--green);
  cursor: pointer;
}
.input-feedback {
  font-size: smaller;
  color: red;
}
.reset-form > button:hover {
  background-color: rgba(22, 100, 83, 0.64) !important;
}
.reset-form > button:active {
  box-shadow: 2px 3px 2px 3px rgb(72, 72, 72);
  font-size: larger;
}
#reset-response {
  width: 90%;
}
#reset-response a {
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  font-size: smaller;
}
#reset-response a:hover {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
  font-size: medium;
}
.icon {
  display: block;
  margin: auto;
  width: 90%;
}
#reset {
  position: absolute;
  margin-left: 45px;
  margin-top: 80px;
  margin-bottom: 30px;
  right: 50px;
  color: rgb(72, 72, 72);
  bottom: 0;
}
#reset:hover {
  color: blue;
}
@media (max-width: 700px) {
  .reset-form {
    width: 300px;
    min-width: 200px;
    height: 400px;
    padding: 1rem;
  }
}