.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.reset-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  margin-top: 50px;
  width: 350px;
  height: 430px;
  box-shadow: 3px 3px 10px 10px #777676;
}

.reset-form > input {
  text-indent: 1ch;
  display: block;
  margin: auto;
  height: 40px;
  width: 90%;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  margin-top: 130px;
}

.reset-form > button {
  display: block;
  margin: auto;
  margin-top: 5px;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 90%;
  height: 40px;
  font-size: large;
  box-shadow: 2px 3px #cfcfcf;
  background-color: var(--green);
  cursor: pointer;
}
.input-feedback {
  font-size: smaller;
  color: red;
}
.reset-form > button:hover {
  background-color: rgba(22, 100, 83, 0.64) !important;
}

.reset-form > button:active {
  box-shadow: 2px 3px 2px 3px rgb(72, 72, 72);
  font-size: larger;
}

.icon {
  display: block;
  margin: auto;
}

#userIcon {
  display: block;
  margin: auto;
  color: rgba(17, 103, 83, 0.64);
  width: 50px;
  height: auto;
  margin: auto;
  margin-bottom: 30px;
}

#eyeTwo {
  color: #373737;
  margin-top: 12px;
  margin-left: 220px;
  position: absolute;
}

#eyeOne {
  color: #373737;
  margin-top: 12px;
  margin-left: 220px;
  position: absolute;
}

.checkbox {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.checkbox input {
  padding: 0;
  width: 30px;
  font-size: small;
  size: 40px;
  cursor: pointer;
}

.checkbox label {
  font-size: smaller;
  margin-left: 0px;
  margin-bottom: 50px;
}

.forgot-password a {
  font-size: small;
  color: #292929;
}

.forgot-password a:hover {
  color: blue;
}

#reset {
  position: absolute;
  margin-left: 45px;
  margin-top: 80px;
  margin-bottom: 30px;
  right: 50px;
  color: rgb(72, 72, 72);
  bottom: 0;
}
#reset:hover {
  color: blue;
}

.skeleton-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.login-skeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 430px;
}
.skeleton-inputs:first-child {
  border-radius: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.skeleton-inputs {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 430px;
}
.skeleton-inputs > * {
  display: block;
  height: 40px;
  width: 90%;
  border-radius: 5px;
  background-color: rgb(202, 202, 202);
  margin-top: 30px;
}

@media (max-width: 700px) {
  .reset-form {
    width: 300px;
    min-width: 200px;
    height: 400px;
    padding: 1rem;
  }
}
