*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body{
    min-height: 100vh;
    background-color: rgb(225, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px rgb(164, 164, 164);
    height: 70px;
  }
  /* .navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navbar ul li{
    margin-right: 40px;
    list-style: none;
  } */
  .pees{
    display: flex;
  }
  .circleWord{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #31937c;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    padding-top: 4px;
    padding-left: 2px;
    margin: auto;
  }
  #noun{
    margin: auto;
    margin-left: 5px;
  }
  #downArrow{
    color: #00372a;
    margin: auto;
    margin-right: 30px;
    margin-left: 20px;
  }
  
  .local{
    display: flex;
  }
  
  #menuBars{
    display: none;
    margin: auto;
    margin-left: 20px;
  }
  
  #busIcon{
    width: 70px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  
  .sideBar{
    margin-top: 4px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 20%;
    min-height: 90vh;
  }
  .sideBar img{ 
    width: 40px;
    height: auto;
    margin: 0px 20px;
  }
  
  #dash{
    display: inline-flex;
    margin-bottom: 20px;
  }
  /* #dash img{
    margin-bottom: 20px;
  } */
  #dash p{
    margin: auto;
  }
  #driver{
    display: inline-flex;
  }
  #driver p{
    color: #31937c;
    border-bottom: 3px solid #31937c;
    margin: auto;
  }
  
  .mainContent{
    width: 80%;
  }
  
  .display{
    padding: 20px;
    position: absolute;
    right: 5px;
    top: 73px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: fit-content
  }
  
  .pees-1{
    margin-top: 30px;
    display: inline-flex;
    /* font-size: 14px; */
  }
  .pees-1 p{
    text-align: left;
  }
  
  .icons{
    margin-top: 30px;
    display: flex;
  }
  .icons img{
    width: 30px;
    height: 30px;
  }
  .icons p{
    margin: auto;
  }
  
  #setting{
    filter: hue-rotate(45deg)
  }
  
  #notify{
    filter: hue-rotate(40deg)
  }
  
  #logout{
    width: 25px;
    height: 23px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  #anchor{
    padding: 5px;
    background-color: #000000;
    border-radius: 4px;
  }
  #anchor a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
  }
  


@media(max-width: 700px){
  #menuBars{
    display:block;
  }

  #busIcon{
    display: none;
  }

  .sideBar{
    margin-top: 4px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    min-height: 90vh;
  }
}