.main {
  margin-top: 100px;
  margin-left: 22%;
  /* position: relative; */
}

.roles-permissions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 3rem;
}

.driver {
  max-width: 20rem;
  padding: 1rem;
}

.title {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #c5c2c2;
  margin-bottom: 1rem;
}

.roles {
  margin-left: 2rem;
}

.roles li::marker {
  font-size: 1.5rem;
  color: var(--theme-green);
}

.roles div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roles li {
  cursor: pointer;
}

.roles li:hover,
.roles li:active {
  color: var(--theme-green);
}

.permissions {
  max-width: 40rem;
  font-size: 1.3vw;
  padding: 1rem;
}

.btn {
  margin-bottom: 3rem;
}

.add-role {
  margin-left: 5px;
  vertical-align: middle;
}

.trashIcon {
  cursor: pointer;
}

.trashIcon:hover,
.trashIcon:active {
  color: red;
}

.editIcon {
  cursor: pointer;
  margin-right: 1rem;
}

.editIcon:hover,
.editIcon:active {
  color: var(--theme-green);
}

@media screen and (max-width: 768px) {
  .roles-permissions {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .driver {
    max-width: 20rem;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .permissions {
    max-width: 20rem;
    padding: 1rem;
    font-size: 2vw;
  }
}
