.main {
  margin-top: 6rem;
  margin-left: 22%;
  margin-right: 3%;
  font-size: 14px;
}

.roles-permissions {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  margin-bottom: 3rem;
}

.driver {
  max-width: 20rem;
  padding: 1rem;
  height: fit-content;
}

.title {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #c5c2c2;
  margin-bottom: 1rem;
}

.roles {
  margin-left: 2rem;
}

.roles li::marker {
  font-size: 1.5rem;
  color: var(--theme-green);
}

.roles div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roles li {
  cursor: pointer;
}

.roles li:hover,
.roles li:active {
  color: var(--theme-green);
}

.permissions {
  max-width: 40rem;
  padding: 1rem;
}

.btn {
  margin-bottom: 3rem;
  padding: 0.75rem 5vw;
  border-radius: 9px;
}

.btn-role {
  margin-right: 12.5vw;
}

.add-role {
  margin-left: 1vw;
  vertical-align: middle;
}

.trashIcon {
  cursor: pointer;
}

.trashIcon:hover,
.trashIcon:active {
  color: red;
}

.editIcon {
  cursor: pointer;
  margin-right: 1rem;
}

.editIcon:hover,
.editIcon:active {
  color: var(--theme-green);
}

@media screen and (max-width: 767px) {
  .main {
    margin: 6rem 11% 0 11%;
  }
  .roles-permissions {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .driver {
    max-width: 20rem;
    padding: 1rem;
    margin-bottom: 6rem;
  }

  .permissions {
    max-width: 20rem;
    padding: 1rem;
    margin-top: 2rem;
  }
  .btn {
    margin-bottom: 0;
  }

  .btn-permission {
    position: relative;
    top: 19rem;
    margin-bottom: 0;
  }
}
