#userIcon {
  display: block;
  margin: auto;
  color: rgba(17, 103, 83, 0.64);
  width: 50px;
  height: auto;
  margin: auto;
  margin-bottom: 30px;
}
#eyeTwo, #eyeOne {
  color: #373737;
  margin-top: 12px;
  margin-left: 220px;
  position: absolute;
}
.checkbox {
  width: 90%;
  padding: 10px 0 5px;
}
.checkbox input {
  padding: 0;
  margin-left: 5px;
  width: 30px;
  font-size: small;
  size: 40px;
  cursor: pointer;
}
.checkbox label {
  font-size: smaller;
  margin-left: 0px;
  margin-bottom: 50px;
}
.forgot-password a {
  font-size: small;
  color: #292929;
  margin: 20% 5%;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.forgot-password a:hover {
  color: blue;
}
.skeleton-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}
.login-skeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 430px;
}
.skeleton-inputs:first-child {
  border-radius: 50%;
  display: block;
  margin: auto;
  text-align: center;
}
.skeleton-inputs {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 430px;
}
.skeleton-inputs > * {
  display: block;
  height: 40px;
  width: 90%;
  border-radius: 5px;
  background-color: rgb(202, 202, 202);
  margin-top: 30px;
}
@media (max-width: 700px) {
  .rest-form {
    width: 300px;
    min-width: 200px;
    height: 400px;
    padding: 1rem;
  }
}