@import url("https://fonts.googleapis.com/css?family=Inter");
* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  scroll-behavior: smooth;
  --green: hsl(166deg 100% 16% / 66%);
  --white: rgb(255, 255, 255);
  --gray:gray
  --black: rgb(0, 0, 0);
  font-family: "Inter";
}
body {
  background-color: #ffffff;
}
nav {
  background-color: var(--white);
  z-index: 1;
}
.nav {
  position:sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  top: 0px;
}

.navItem ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}
.navItem ul li a.login  {
  background-color: var(--green);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 15px;
}
.navItem ul li a.login:hover  {
   color: var(--white);
  border-bottom: 3px solid var(--green);
  padding: 1rem 2rem;
  border-radius: 15px;
}
.navItem ul li a {
  text-decoration: none;
  padding: 1rem 1rem;
  color: var(--black);
  font-weight: 200;
}
.navItem ul li a.active {
  color: var(--green);
  border-bottom: 3px solid var(--green);
  padding: 1rem 1rem;
}
.navItem ul li a:hover {
  padding: 1rem 1rem;
  background-color: var(--green);
  color: var(--white);
  border-bottom: 3px solid gray;
}


/* Header Css that  */


.intro_header {
  background: url("./assets/images/background.svg");
  background-size: 94%;
  height: 450px;
  width: 100%;
   background-repeat: no-repeat;
}

.intro_header .header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  height: inherit;
  grid-column-gap: 2px;
}
.header-content .content {
  align-items: center;
  justify-items: center;
  margin: auto;
  display: inline-block;
  width: 50%;
}
.content h4 {
  font-weight: 600;
}
.content .ft-tracking {
  margin-top: 10px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--green);
  padding: 0.5rem;
}
.content p {
  margin-top: 10px;
  color: var(--gray);
}
.content .ft-header-btn{
  margin-top: 30px;
}
.header-content .bus-image {
  margin: auto;
}

/* button style css */
.btn{
  padding: 0.5rem;
  border-radius: 1px;
  border: none;
}
.btn-green{
  background-color: var(--green);
  color: var(--white);
  font-weight: 800;
}
.btn-green:hover{
  font-weight: 800;
  color: var(--green);
  background-color: var(--gray);
}
/* Home Content style */
.home-content{
margin-top: 15px;
align-items: center;

}