@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  scroll-behavior: smooth;
  --green: hsl(166deg 100% 16% / 66%);
  --white: rgb(255, 255, 255);
  --gray:gray
  --black: rgb(0, 0, 0);
  font-family: "Inter";
}
body {
  background-color: #ffffff;
}
nav {
  background-color: var(--white);
  z-index: 1;
}
.nav {
  position:sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  top: 0px;
}

.navItem ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}
.navItem ul li a.login  {
  background-color: var(--green);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 15px;
}
.navItem ul li a.login:hover  {
   color: var(--white);
  border-bottom: 3px solid var(--green);
  padding: 1rem 2rem;
  border-radius: 15px;
}
.navItem ul li a {
  text-decoration: none;
  padding: 1rem 1rem;
  color: var(--black);
  font-weight: 200;
}
.navItem ul li a.active {
  color: var(--green);
  border-bottom: 3px solid var(--green);
  padding: 1rem 1rem;
}
.navItem ul li a:hover {
  padding: 1rem 1rem;
  background-color: var(--green);
  color: var(--white);
  border-bottom: 3px solid gray;
}
