nav {
  background-color: var(--white);
  z-index: 5;
  overflow: hidden;
}
.navBar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  
  
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  height:30px;
  width: 30px;
  color: var(--green);
  cursor: pointer;
  display: none;
}
.hamburger:hover {
  height: 30px;
  width: 30px;
  color: var(--white);
  background-color: var(--green);
}
.hamburger:active {
  opacity: 0;
}

.logo {
  top: 0px;
}

.navItem ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}
.navItem ul li a.login {
  background-color: var(--green);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 15px;
}
.navItem ul li a.login:hover {
  color: var(--white);
  border-bottom: 3px solid var(--green);
  padding: 1rem 2rem;
  border-radius: 15px;
}
ul li a.login.active {
    color: var(--white);
    border-bottom: 3px solid var(--green);
<<<<<<< HEAD
    padding: 1rem 2rem !important;
=======
    padding: 1rem 1rem;
>>>>>>> 97ffb2f ( This is a combination of 2 commits.)
    border-radius: 15px;
  }
ul li a.login.active:hover {
    color: var(--white);
    border-bottom: 3px solid var(--green);
<<<<<<< HEAD
    padding: 1rem 2rem;
=======
    padding: 1rem 1rem;
>>>>>>> 97ffb2f ( This is a combination of 2 commits.)
    border-radius: 15px;
  }
.navItem ul li a {
  text-decoration: none;
  padding: 1rem 1rem;
  color: var(--black);
  font-weight: 200;
}
.navItem ul li a.active {
  color: var(--green);
  border-bottom: 3px solid var(--green);
  padding: 1rem 1rem;
}
.navItem ul li a:hover {
  padding: 1rem 1rem;
  background-color: var(--green);
  color: var(--white);
  border-bottom: 3px solid gray;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 620px) {
  .navItem {
    display: block;
    right: -120%;
    opacity: 1;
    transition: all 0.5s ease;
    position: absolute;
    padding: 1rem;
    margin-top: 70px;
    top: 0px;
    height: 100vh;
  }
  .navItem.active {
    height: 100vh;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    display: block;
    background-color: var(--dark-green);
    color: var(--white);
    right: 0px;
    top: 0px;
    float: right;
    position: absolute;
    padding: 1rem;
    margin-top: 70px;
    overflow: visible;
   
  }
  .hamburger {
    display: block;
  }

  .close {
    height: 30px;
    width: 30px;
    color: var(--green);
    cursor: pointer;
  }

  .nav ul li {
    display: flex;
    margin-right: 12px;
    cursor: pointer;
    align-items: baseline;
    color: white;
    padding-top: 1rem;
  }
  ul li a.login {
    background-color: var(--green);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 15px;
  }
  ul li a.login:hover {
    color: var(--white);
    border-bottom: 3px solid var(--green);
    padding: 1rem 2rem;
    border-radius: 15px;
  }
ul li a.login.active {
    color: var(--white);
    border-bottom: 3px solid var(--green);
    padding: 1rem 2rem;
    border-radius: 15px;
  }
ul li a.login.active:hover {
    color: var(--white);
    border-bottom: 3px solid var(--green);
    padding: 1rem 2rem;
    border-radius: 15px;
  }
  ul li a {
    text-decoration: none;
    padding: 1rem 1rem;
    color: var(--white) !important;
    font-weight: 200;
  }
  ul li a.active {
    color: var(--green);
    border-bottom: 3px solid var(--green);
    padding: 1rem 1rem;
  }
  ul li a:hover {
    padding: 1rem 1rem;
    background-color: var(--green);
    color: var(--white);
    border-bottom: 3px solid gray;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) and (min-width: 620px) {
  .nav {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav ul li {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
  }

  .navItem ul li a.login {
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 7.5px;
  }
  .navItem ul li a.login:hover {
    color: var(--white);
    border-bottom: 1.5px solid var(--green);
    padding: 0.5rem 1rem;
    border-radius: 7.5px;
  }
  .navItem ul li a {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: var(--black);
    font-weight: 200;
  }
  .navItem ul li a.active {
    color: var(--green);
    border-bottom: 1.5px solid var(--green);
    padding: 0.5rem 0.5rem;
  }
  .navItem ul li a:hover {
    padding: 0.5rem 0.5rem;
    background-color: var(--green);
    color: var(--white);
    border-bottom: 1.5px solid gray;
  }
}
