.simulate-container {
    top: 70px;
    background-image: url("./image\ 1.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leaflet-map {
    background-color: white;
    width: 100%;
    height: 100%;
}

.simulate-buttons-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.simulate-buttons-container button {
    background-color: #648d80;
    outline: none;
    border: none;
    padding: 12px;
    margin: 12px;
    width: 150px;
    border-radius: 25px;
    color: var(--white);
    cursor: pointer;
}

.btnRight {
    margin-left: 60%;
}

.simulate-buttons-container button:hover {
    background-color: var(--gray);
}

@media screen and (max-width: 800px) {
    .simulate-container {
        display: block;
    }
    .btnRight {
        margin-left: auto;
    }
    .simulate-buttons-container {
        height: 40%;
    }
    .leaflet-map {
        height: 60%;
    }
}