:root {
  --theme-sidebar-white: rgb(255, 255, 255);
  --theme-sidebar-grey: #9c8b8b;
  --theme-green: hsl(166deg 100% 16% / 66%);
}

.sidebar {
  background-color: var(--theme-sidebar-white);
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  left: 0;
  overflow: hidden;
  margin-top: 70px;
  margin-left: 0px !important;
  text-align: left;
}

.sidebar nav a,
.sidebar nav button {
  color: var(--theme-sidebar-grey);
  text-decoration: none;
  display: block;
  font-size: 1.5vw;
  padding: 12px;
  border: none;
  border-bottom: 0.1px solid lightgrey;
  width: 100%;
  background: none;
  outline: none;
  cursor: pointer;
}

.sidebar nav button {
  margin-left: -20px;
}

.sidebar nav button {
  margin-left: -20px;
}

.sidebar nav a span,
.sidebar nav button span {
  margin-left: 10px;
  color: var(--theme-sidebar-grey);
}

.sidebar nav .subMenu {
  display: block;
  margin-left: 15px;
}

.sidebar nav button span .icon-dropDown {
  float: right;
}

.sidebar nav a:hover {
  background-color: var(--theme-green);
  color: var(--theme-sidebar-white);
}
.sidebar nav a:hover > span {
  color: var(--theme-sidebar-white);
}

.sidebar nav a.active {
  color: var(--theme-green);
}
.sidebar nav a.active > span {
  color: var(--theme-green);
}

.sidebar nav a.active:hover {
  color: var(--theme-sidebar-white);
}
.sidebar nav a.active:hover > span {
  color: var(--theme-sidebar-white);
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
    width: 60%;
  }
}
